<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ojh102.timary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TimaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.TimaryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainFragment"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.write.content.WriteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.complete.CompleteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.read.ReadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.write.store.StoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.common.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.ojh102.timary.ui.legacy.common.TextActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.TimaryFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.TimaryFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_home_off" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>